GITLAB_HOSTNAME=gitlab.saurick.me
GITLAB_HTTP_PORT=8929
GITLAB_SSH_BIND_ADDRESS=192.168.0.133
GITLAB_SSH_PUBLIC_PORT=2224
GITLAB_CONFIG_DIR=/srv/gitlab/config
GITLAB_LOG_DIR=/srv/gitlab/logs
GITLAB_DATA_DIR=/srv/gitlab/data
GITLAB_RAID_BACKUP_DIR=/srv/raid5/gitlab/backups
GITLAB_BACKUP_KEEP_SECONDS=1209600
GITLAB_BACKUP_RETENTION_DAYS=14
GITLAB_MEMORY_LIMIT=12G
